<div>
  <h3>Role Details</h3>
</div>
<div class="container">
  <!-- Trigger the modal with a button -->
  <div> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add new role</button></div>


  <div class="col-md-8">
    <!-- {{msg}} -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Role Id</th>
          <th>Role Name</th>
          <th style="width:25%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles">
          <td>{{role.id}}</td>
          <td>{{role.roleName}}</td>
          <td style="width:25%">
            <div class="row custom-width">
              <!-- Trigger the modal with a button -->
              <button type="button" class="btn btn-primary btn-spacing" data-toggle="modal" data-target="#edit" (click)="editRole(role)">Edit</button>

              <button type="button" class="btn btn-primary btn-spacing" data-toggle="modal" data-target="#delete"
                (click)="getRoleForeDelete(role)">Delete</button>

            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- DeleteModal -->
<div class="modal" id="delete" role="dialog">
  <div class="modal-dialog modal-md">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Role</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteRole()">Yes</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!-- EditModal -->
<div class="modal" id="edit" role="dialog">
  <div class="modal-dialog modal-md">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Role details</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form #roleForm="ngForm">
            <!-- <pre>
                  {{roleForm.value |json}}
                  {{roleObj |json}}
                </pre> -->
            <div class="row">
              <div class="form-group">
                <label for="email">RoleId:</label>
                <input type="text" [(ngModel)]="roleObj.id" class="form-control" id="email" placeholder="Enter email"
                  name="email" readonly>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label for="pwd">RoleName:</label>
                <input type="text" [(ngModel)]="roleObj.roleName" class="form-control" id="pwd" placeholder="Enter password"
                  name="pwd">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateRole()">update</button>
      </div>
    </div>
  </div>
</div>

<!-- AddModal -->
<div class="modal" id="myModal" role="dialog">
  <div class="modal-dialog modal-md">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Role details</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form #roleForm="ngForm">
            <div class="row">
              <div class="form-group">
                <label for="pwd">RoleName:</label>
                <input type="text" [(ngModel)]="roleObj.roleName" class="form-control" id="pwd" placeholder="Enter password"
                  name="pwd">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createRole()">Save</button>
      </div>
    </div>
  </div>
</div>


<a routerLink="/test">testPage</a>
<router-outlet></router-outlet>